/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

.input-group .input-group-addon {
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    background-color: #666;
    color: white;
    width: 80px;
}

.input-group .form-control {
    height: 40px;
    font-size: 16px;
    text-align: center;
}

.input-group {
    padding: 10px;
}

.input-holder {
    max-width: 300px;
    margin: 0 auto;
}

.orientation {
    text-transform: uppercase;
    font-weight: lighter;
}

.angle-display .orientation {
    font-size: 1.5em;
}

.angle {
    font-weight: bold;
}

.angle-display .angle {
    font-size: 3em;
}

.angle-display {
    margin-bottom: 5px;
}

.lower-angle-display {
    display: none;
}

.diagram {
    min-height: 100%;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}
.cover h1 {
    text-transform: uppercase;
    font-weight: lighter;
}

@media (min-width: 768px) {
  .site-wrapper-inner {
    vertical-align: middle;
  }
  .cover-container {
    width: 100%;
  }
  .lower-angle-display{
      display: none !important;
  }
}

@media (min-width: 992px) {
  .cover-container {
    width: 700px;
  }
}
